* {
    margin: 0;
}

body {
    padding: 1em 1em;
}

section {
    width: 100%;
}

h3 {
    position: sticky;
    top: 0; 
    height: 80px;
    background-color: #212226;
    color: #0CF25D;
    font-size: 2em;
}

ul {
    list-style: none;
}
